.main-container{
    margin-left:80px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.page-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
}
@media screen and  (min-width:1001px) {
    .page-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
@media screen and (max-width: 1000px) and (min-width:751px) {
    .page-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media screen and (max-width: 750px) and (min-width:321px) {
    .page-container{
        grid-template-columns: 1fr 1fr;
    }
  }
@media screen and (max-width: 320px) {
    .page-container{
        grid-template-columns: 1fr;
    }
  }
.video-container{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
}
.video-preview-container{
    position: relative;
    flex:3;
}
.video-length{
    position:absolute;
    background-color: black;
    right:5px;
    bottom: 10px;
    color: white;
    font-size: 8px;
    border-radius: 2px;
    padding: 1px 3px 1px 3px;
}
.video-preview{
    border-radius: 2px;
    height: 120px;
    width:200px;
}
.video-detail{
    flex:1;
    display: flex;
    margin-top: 8px;
}
.profile-image{
    flex:1;
    width: 20px;
    height: 20px;
    margin:0;
    border-radius: 10px;
    
}
.profile-detail{
    flex:9;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.video-title-section{
    display: flex;
}
.video-title{
    font-size: 8px;
    font-weight: bold;
    color: rgb(77, 75, 75);
    flex:6;
}
.more-option{
    flex: 1;
    height: 15px;
    width: 15px;
    margin: 0;
}
.video-author,
.view-and-time{
    font-size: 7px;
    color: gray;
}
.video-author{
    margin-top: 5px;
}
.view-and-time{
    margin-top: 2px;
}