.sidebar{
    position: fixed;
    top:110px;
    left:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}
.sidebar-icon{
    height: 34px;
    width:34px;
    margin-bottom: 34px;
}